/**
 * Form and input element styles
 */

select {
	/**
	 * Opt in to custom styling for select element (experimental)
	 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::picker#basic_custom_select_usage
	 */
	&,
	::picker(select) {
		appearance: base-select;
	}

	/** Set custom picker icon for select element (experimental) */
	&::picker-icon {
		color: currentColor;
		content: "⌄";
	}
	/** Flip picker icon when select is open (experimental) */
	&:open::picker-icon {
		rotate: 180deg;
	}
}
