/* === GLOBAL === */

/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-thickness: 1px !important;
	text-underline-offset: 0.1em;
}

/* === BLOCKS === */

/**
 * List Block checkmark block style
 */

.wp-block-list.is-style-checkmark-list {
	list-style-type: "\2713";
}

.wp-block-list.is-style-checkmark-list li {
	padding-inline-start: 1ch;
}
