<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|60"},"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main
	class="wp-block-group"
	style="margin-top: 0; padding-bottom: var(--wp--preset--spacing--60)"
>
	<!-- wp:pattern {"slug":"windmill-theme/banner-hero"} /-->

	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top","justifyContent":"center"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap"}} -->
		<div
			class="wp-block-group"
			style="padding-top: var(--wp--preset--spacing--70)"
		>
			<!-- wp:heading -->
			<h2 class="wp-block-heading">Posts</h2>
			<!-- /wp:heading -->

			<!-- wp:pattern {"slug":"windmill-theme/template-query-loop"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"23rem"},"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","flexWrap":"wrap"}} -->
		<div
			class="wp-block-group"
			style="padding-top: var(--wp--preset--spacing--70)"
		>
			<!-- wp:heading -->
			<h2 class="wp-block-heading">Categories</h2>
			<!-- /wp:heading -->

			<!-- wp:categories {"displayAsDropdown":true,"showHierarchy":true,"showPostCounts":true,"showLabel":false,"style":{"spacing":{"margin":{"top":"0"}}}} /-->

			<!-- wp:heading -->
			<h2 class="wp-block-heading">Tags</h2>
			<!-- /wp:heading -->

			<!-- wp:categories {"taxonomy":"post_tag","displayAsDropdown":true,"showHierarchy":true,"showPostCounts":true,"showLabel":false,"style":{"spacing":{"margin":{"top":"0"}}}} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
