<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main"}, "tagName":"main", "style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}, "layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--60)">
	<!-- wp:query-title {"type":"search","textAlign":"center"} /-->

	<!-- wp:pattern {"slug":"windmill-theme/hidden-search"} /-->

	<!-- wp:pattern {"slug":"windmill-theme/hidden-template-query-loop-grid"} /-->

	<!-- wp:pattern {"slug":"windmill-theme/hidden-more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
