.wp-block-categories {
	/* Allow select element to inherit border radius from categories block */
	border-radius: inherit;

	&.wp-block-categories-dropdown {
		/* Prevent overflow for dropdown label */
		position: relative;
	}
}
