.wp-block-post-comments-form {
	/* Allow text area, input, and button elements border radius to be inherited from comment form block */
	.comment-form,
	.comment-form > * {
		border-radius: inherit;
	}

	/* Disable resizing for form textarea (experimental) */
	.comment-form .comment-form-comment textarea {
		resize: none;
	}
}
