/*
 * Theme editor styles
 */

@use "sass:meta";

/* Ensure sticky positioned blocks stay on top in editor */
html :where(.editor-styles-wrapper) {
	--wt--style--sticky--z-index: 30;
}

/* Editor content styles */
.editor-styles-wrapper {
	// Third-party styles
	@include meta.load-css("vendors");

	// Variables, mixins, and functions
	@include meta.load-css("abstract");

	// Global styles
	@include meta.load-css("base");

	// Layout styles
	@include meta.load-css("layout");

	// Component styles
	@include meta.load-css("components");
}
